<html>
<head>
	<link rel="stylesheet" href="./templates/trav.css" type="text/css" />
</head>
<SCRIPT>
<!-- Begin
function printWindow() {
	bV = parseInt(navigator.appVersion);
	if (bV >= 4) window.print();
}

printWindow();

//  End -->
</SCRIPT>

<body>
	<div style="border: dotted; width: 370px;height: 220px;background: url('./templates/images/loto_cta_comp_small.png') repeat;">
		<div style="height:80px;background: url('./templates/images/logo_ctacompl.png') no-repeat #ffee00;"></div>
		<div style="font-size: 16px; font-family:arial;margin: 5px 0px 20px 0px;text-align: center;"><b>KARTU MEMBER SEMENTARA</b></div>
		<div style="font-size: 36px; font-family:arial;margin: 5px 0px 20px 0px;text-align: center;"><b>{ID_MEMBER}</b></div>
		<div style="font-size: 24px; font-family:arial;margin: 5px 0px 20px 0px;text-align: center;"><b>{NAMA}</b></div>
		<div style="font-size: 18px; font-family:arial;margin: 5px 0px 20px 0px;text-align: center;">Terdaftar: <b>{TGL_REG}</b> di: <b>{CABANG_REG}</b></div>
	</div>
</body>
</html>