<script type="text/javascript">
    filePath = '{TPL}js/dropdowncalendar/images/';
</script>
<script src="{TPL}js/dropdowncalendar/calendar.js" type="text/javascript"></script>
<script type="text/javascript" src="{ROOT}/ajax/dojo.js"></script>
<script type="text/javascript">
    function kirimUlang(id){
        new Ajax.Request("log_sms.php?sid={SID}",{
            asynchronous: true,
            method: "get",
            parameters: "mode=kirimulang&id="+id,
            onLoading: function(request)
            {
            },
            onComplete: function(request)
            {

            },
            onSuccess: function(request)
            {

                if(request.responseText==1){
                    alert('Kirim ulang berhasil!');
                    //window.location.reload();
                }else{
                    alert('Gagal Kirim ulang !');
                }
            },
            onFailure: function(request)
            {
            }
        })
    }
</script>

<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td class="whiter" valign="middle" align="left">
            <form action="{ACTION_CARI}" method="post">
                <!--HEADER-->
                <table width='100%' cellspacing="0">
                    <tr class='banner' height=40>
                        <td align='center' valign='middle' class="bannerjudul">&nbsp;Daftar SMS Paket</td>
                        <td align='right' valign='middle'>
                            <table>
                                <tr>
                                    <!--<td class='bannernormal'><select onchange='getUpdateAsal(this.value);' id='kota' name='kota'><option value=''>-semua kota-</option>{OPT_KOTA}</select></td>
							<td class='bannernormal'>Asal:&nbsp;</td><td><div id='rewrite_asal'></div></td>
							<td class='bannernormal'>&nbsp;Tujuan:&nbsp;</td><td><div id='rewrite_tujuan'></div></td>-->
                                    <td class='bannernormal' colspan=2>&nbsp;Tgl Berangkat:&nbsp;<input readonly="yes"  id="tanggal_mulai" name="tanggal_mulai" type="text" size=10 onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this)" value="{TGL_AWAL}"></td>
                                    <td class='bannernormal' colspan=2>&nbsp; s/d &nbsp;<input readonly="yes"  id="tanggal_akhir" name="tanggal_akhir" type="text" size=10 onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this)" value="{TGL_AKHIR}"></td>
                                    <!-- <td class='bannernormal'>Cari (Masukan No HP):<input type="text" id="txt_cari" name="txt_cari" value="{TXT_CARI}" /></td> -->
                                    <td class='bannernormal'><input name="btn_cari" type="submit" value="cari" /></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!--<tr>
				<td colspan=2 align='center' valign='middle'>
					<table>
						<tr>
							<td>
								<a href='#' onClick="{CETAK_XL}"> <img src="{TPL}/images/icon_msexcel.png">&nbsp;Cetak ke MS EXCEL</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>-->
                    <tr>
                        <td colspan=2>
                            <table width='100%'>
                                <tr>
                                    <td align='right' valign='bottom'>
                                        {PAGING}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- END HEADER-->
                <table class="border" width='100%' >
                    <tr>
                        <th>No</th>
                        <th><a class="th">No Tujuan</a></th>
                        <th><a class="th">Nama Penerima</a></th>
                        <th><a class="th">Waktu Kirim</a></th>
                        <th><a class="th">Responses</a></th>
                        <th><a class="th">Pesan</a></th>
                        <th><a class="th">Status</a></th>
                        <th><a class="th">Act</a></th>
                    </tr>
                    <!-- BEGIN ROW -->
                    <tr class="{ROW.odd}">
                        <td align="right">{ROW.no}</td>
                        <td align="center">{ROW.no_tujuan}</td>
                        <td align="center">{ROW.nama_penerima}</td>
                        <td align="center">{ROW.waktu_kirim}</td>
                        <td align="center">{ROW.responses}</td>
                        <td align="center">{ROW.pesan}</td>
                        <td align="center">{ROW.status}</td>
                        <td align="center">{ROW.act}</td>
                    </tr>
                    <!-- END ROW -->
                </table>
                <table width='100%'>
                    <tr>
                        <td align='right' width='100%'>
                            {PAGING}
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>
