<table width="100%" cellspacing="0" cellpadding="0">
<tr>
 <td class="whiter" valign="middle" align="left">		
	<form action="{ACTION_CARI}" method="post">
		<!--HEADER-->
		<table width='100%' cellspacing="0">
			<tr class='banner' height=40><td align='center' valign='middle' class="bannerjudul">&nbsp;Daftar Penumpang</td></tr>
		</table>
		<!-- END HEADER-->
		<table class="border" width='100%' >
		<center><b>#Manifest:</b>{NO_MANIFEST} | <b>Berangkat:</b>{BERANGKAT} | <b>Kode Jadwal:</b>{KODE_JADWAL}<br>
		<b>Driver:</b>{DRIVER} | <b>#Plat:</b>{NO_POLISI}</center>
    <tr>
       <!--<th width=30>No</th>-->
			 <th width=70>#Kursi</th>
			 <th width=100>Nama</th>
			 <th width=100>#Book</th>
			 <th width=100>#Tiket</th>
			 <th width=100>Telp</th>
			 <th width=200>Alamat</th>
     </tr>
     <!-- BEGIN ROW -->
     <tr class="{ROW.odd}">
       <!--<td ><div align="right">{ROW.no}</div></td>-->
       <td ><div align="center"><b>{ROW.no_kursi}</b></div></td>
			 <td ><div align="left">{ROW.nama}</div></td>
       <td ><div align="left">{ROW.kode_book}</div></td>
			 <td ><div align="left">{ROW.no_tiket}</div></td>
			 <td ><div align="left">{ROW.telp}</div></td>
			 <td ><div align="left">{ROW.alamat}</div></td>
     </tr>
     <!-- END ROW -->
    </table>
	</form>
 </td>
</tr>
</table>