<script type="text/javascript">
	filePath = '{TPL}js/dropdowncalendar/images/';
</script>
<script src="{TPL}js/dropdowncalendar/calendar.js" type="text/javascript"></script>
<script language="JavaScript">
	
function selectAll(){
		
		i=1;
		loop=true;
		record_dipilih="";
		do{
			str_var='checked_'+i;
			if(chk=document.getElementById(str_var)){
				chk.checked=true;
			}
			else{
				loop=false;
			}
			i++;
		}while(loop);
		
}

function deselectAll(){
		
		i=1;
		loop=true;
		record_dipilih="";
		do{
			str_var='checked_'+i;
			if(chk=document.getElementById(str_var)){
				chk.checked=false;
			}
			else{
				loop=false;
			}
			i++;
		}while(loop);
		
}

function hapusData(kode){
	
	if(confirm("Apakah anda yakin akan menghapus data ini?")){
		
		if(kode!=''){
			list_dipilih="'"+kode+"'";
		}
		else{
			i=1;
			loop=true;
			list_dipilih="";
			do{
				str_var='checked_'+i;
				if(chk=document.getElementById(str_var)){
					if(chk.checked){
						if(list_dipilih==""){
							list_dipilih +=chk.value;
						}
						else{
							list_dipilih +=","+chk.value;
						}
					}
				}
				else{
					loop=false;
				}
				i++;
			}while(loop);
		}
		
		new Ajax.Request("pengaturan_member.php?sid={SID}",{
	   asynchronous: true,
	   method: "get",
	   parameters: "mode=delete&list_member="+list_dipilih,
	   onLoading: function(request) 
	   {
	   },
	   onComplete: function(request) 
	   {
			
	   },
	   onSuccess: function(request) 
	   {			
			window.location.reload();
			deselectAll();
		},
	   onFailure: function(request) 
	   {
	   }
	  })  
	}
	
	return false;
		
}

function ubahStatus(kode){
	
		new Ajax.Request("pengaturan_member.php?sid={SID}",{
	   asynchronous: true,
	   method: "get",
	   parameters: "mode=ubahstatus&id_member="+kode,
	   onLoading: function(request) 
	   {
	   },
	   onComplete: function(request) 
	   {
			
	   },
	   onSuccess: function(request) 
	   {			
			window.location.reload();
		},
	   onFailure: function(request) 
	   {
	   }
	  });  
	
	return false;
		
}

function Start(page) {
	OpenWin = this.open(page, "CtrlWindow", "toolbar=no,menubar=yes,location=yes,scrollbars=yes,resizable=yes");
}

</script>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr>
 <td class="whiter" valign="middle" align="center" >		
		<table width='100%' cellspacing="0">
			<tr class='banner' height=40>
				<td align='center' valign='middle' class="bannerjudul">&nbsp;Pelanggan</td>
				<td colspan=2 align='right' class="bannernormal" valign='middle'>
					<form action="{ACTION_CARI}" method="post">
						<table width="900" cellpadding="0" cellspacing="0">
							<tr><td class='bannernormal' align="right">
                <select name="kota"><option value="">-semua kota-</option>{LIST_KOTA}</select>
								<span id="formtanggal" style="margin-left: 90px;display:none;">
									Tgl.Aktif&nbsp;
									<input id="tanggal_mulai" name="tanggal_mulai" type="text" onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this)" value="{TGL_AWAL}" size=10>
									&nbsp; s/d &nbsp;<input id="tanggal_akhir" name="tanggal_akhir" type="text" onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this)" value="{TGL_AKHIR}" size=10>
								</span>
								&nbsp;<input type="checkbox" id="filterbytglreg" name="filterbytglreg" onClick="toggleFilterByTglReg(this.checked);" {FILTER_BY_TGLREG}/><label style="color: white;border: none;" onClick="filterbytglreg.checked=!filterbytglreg.checked;toggleFilterByTglReg(filterbytglreg.checked);">&nbsp;Filter berdasarkan tanggal aktif&nbsp;</label>|
								&nbsp;Cari:&nbsp;<input type="text" id="txt_cari" name="txt_cari" value="{TXT_CARI}" />&nbsp;	
								<input type="submit" value="cari" />&nbsp;								
							</td></tr>
						</table>
					</form>
				</td>
			</tr>
			<tr>
				<td align='center' colspan=2>
					<table>
						<tr>
							<td>
								<a href='#' onClick="{CETAK_XL}"> <img src="{TPL}/images/icon_msexcel.png">&nbsp;Cetak ke MS EXCEL</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td width='30%' align='left'>
					&nbsp;
        </td>
				<td width='70%' align='right'>
					{PAGING}
				</td>
			</tr>
		</table>
		<script type="text/javascript">
			function toggleFilterByTglReg(ischecked){
				if(!ischecked){
					document.getElementById("formtanggal").style.display	= "none";
				}
				else if(ischecked=="checked" || ischecked){
					
					document.getElementById("formtanggal").style.display	= "block";
					document.getElementById("formtanggal").style.position	= "fixed";
				}
			}
			
			toggleFilterByTglReg("{FILTER_BY_TGLREG}");
		</script>
		<table width='100%' class="border">
    <tr>
       <th width=30>No</th>
			 <th width=200>Nama</th>
			 <th width=200>Ponsel</th>
			 <th width=200>Transaksi Pertama</th>
			 <th width=200>Transaksi Terakhir</th>
			 <th width=120>Jurusan Terakhir</th>
			 <th width=100>Frekwensi</th>
     </tr>
     <!-- BEGIN ROW -->
     <tr class="{ROW.odd}">
       <td><div align="center">{ROW.no}</div></td>
			 <td><div align="center">{ROW.nama}</div></td>
			 <td><div align="center">{ROW.ponsel}</div></td>
       <td><div align="center">{ROW.transaksipertama}</div></td>
			 <td><div align="center">{ROW.transaksiterakhir}</div></td>
			 <td><div align="center">{ROW.jurusanterakhir}</div></td>
			 <td><div align="center">{ROW.frekwensi}</div></td>
		</tr>
     <!-- END ROW -->
    </table>
		{NO_DATA}
    <table width='100%'>
			<tr>
				<td width='30%' align='left'>
					&nbsp;
        </td>
				<td width='70%' align='right'>
				  {PAGING}
				</td>
			</tr>
		</table>
 </td>
</tr>
</table>