<SCRIPT LANGUAGE="JavaScript">

function Start(page) {
	OpenWin = this.open(page, "CtrlWindow", "toolbar=no,menubar=yes,location=yes,scrollbars=no,resizable=yes");
}
</SCRIPT>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr>
	<td class="whiter" valign="middle" align="center">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td align='center' valign='top' width='400'>
				<table width='100%'>   
					<tr class='banner' height=40>
						<td align='center' valign='middle' class="bannerjudul" colspan=3>&nbsp;{JUDUL_PENGUMUMAN}</h2></td>
					</tr>
					<tr>
						<td width='200'>Kode Pengumuman</td><td width='5'>:</td>
						<td>{KODE}</td>
			    </tr>
					<tr>
			      <td>Pembuat Pengumuman</td><td>:</td>
						<td><b>{PEMBUAT}<b></td>
			    </tr>
					<tr>
			      <td>Waktu Pembuatan</td><td>:</td>
						<td><b>{WAKTU_BUAT}<b></td>
			    </tr>
					<tr>
			      <td valign='top'>Pengumuman</td>
						<td  valign='top'>:</td>
						<td bgcolor='EFEFEF'>{PENGUMUMAN}</td>
					</tr>
					<tr>
			      <td colspan=3 align='center'><br>{U_BACK}</td>
			    </tr>
				</table>
			</td>
		</tr>
	</table>
	</td>
</tr>
</table>