 /**
 This stylesheet is part of the java script calendar and date picker
  **/
#calender {
	width: 200px;
	font-family: ms sans serif, sans serif;
	font-size: 7pt;	
	}

#calenderTable {
	border-style: outset;
	border-width: 2px;
	border-color: black;
	background-color: #EEE;
	display: none;
	}

#calenderTableHead TR {
	background-color: #5FB404;
	}

#calenderTableDays TR {
	background-color: #B40404;
	color: #E6E6E6;
	}

.normalDay {
	border: 1px solid black;
	cursor: pointer;
	background-color:#B0E0E6;
	}

.hlDay {
	border: 1px black;
	background-color: #585858;
	color: #E6E6E6;
	cursor: pointer;
	}

.toDay {
	border: 1px solid #E70;
	background-color: #FD8;
	color: #E70;
	font-weight: bold;
	cursor: pointer;
	}

.choosenDay {
	border: 1px #000000;
	background-color: #585858;
	color: #E6E6E6;
	font-weight: bold;
	cursor: pointer;
	}
	
#calender_table{
	background-color:none;
	position:absolute;
	top:135px;
	right:20%;
	left:70%;
	width:210px;
}

#calender_mulai_promo{
	background-color:none;
	position:absolute;
	width:210px;	
}

#akhir_promo{
	background-color:none;
	position:absolute;
	left:
	width:210px;
}		