html, body {
	height: 100%;
	color:#474646;
	background-color:#e4e4e4;
}

body {
	margin: 0 auto;
	min-width: 950px;
	font-family: Arial, "Trebuchet MS", Geneva, Tahoma, Verdana, sans-serif;
	font-size: 12px;
   	font-weight: normal;
}

a, a:active, a:visited {
	font-family: Arial, "Trebuchet MS", Geneva, Tahoma, Verdana, sans-serif;
	font-size: 12px;
   	font-weight: normal;
	text-decoration:none;
	color:#474646;
}

a:hover {
	font-family: Arial, "Trebuchet MS", Geneva, Tahoma, Verdana, sans-serif;
	font-size: 12px;
   	font-weight: normal;
	text-decoration:underline;
	color:474646;
}

#wrapper {
	margin: 0 auto;
	width: 950px;
	/*border:solid 1px red;*/
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}

#footer, #push {
	height: 60px; /* .push must be the same height as .footer */
}

#footer {
	background:url(../images/bg_footer.png) repeat-x;
}

#copy {
	width: 950px;
	margin: 0 auto;
	color:#7f7f7f;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
   	font-weight: normal;
	line-height:12px;
	text-align:center;
	padding-top: 20px;
	text-shadow: 1px 1px 1px #333333;

}

#header-intranet {
	height: 100px;
	/*border-bottom:solid 1px red;*/
}

#wel {
	margin-left:0px;
	height:45px;
}

#info {
	color:#e6e6e6;
	float:right;
}

#info {
	list-style: none outside none;
}

#info li {
	float: left;
	font-size:18px;
	margin-left:6px;
	text-shadow:0px 1px 2px black;
	font-family:Georgia, "Times New Roman", Times, serif;
}

#info li.welcome {
	padding-top:1px;
}

#info li a {
	font-size: 12px;
	font-weight: normal;
	font-family: Arial, "Trebuchet MS", Geneva, Tahoma, Verdana, sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #333333;
	text-decoration:none;
	padding: 6px 6px 6px;
	background: none repeat scroll 0% 0% #cc0506;
	border-radius: 5px 5px 5px 5px;
}

#info li a:hover {
	text-shadow: 1px 1px 1px #ffffff;
	color: #ffffff;
	background: none repeat scroll 0% 0% #2a2a2a;
	border-radius: 5px 5px 5px 5px;
}

#info li a.selected {
	background: none repeat scroll 0% 0% #fa5f02;
	border-radius: 5px 5px 5px 5px;
}

#logo {
	text-align:left;
}

ul.topnav {
	list-style: none;
	padding: 0 20px;
	margin: 0;
	margin-left:-10px;
 	float: left;
   	width: 950px;
	font-size:13px;
	font-weight: normal;
	font-family: Arial, "Trebuchet MS", Geneva, Tahoma, Verdana, sans-serif;
	color:#ffffff;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #7f7f7f;
}

ul.topnav li {
    float: left;
    margin: 0;
    padding: 0 5px 0 0;
    position: relative;
}

ul.topnav li a{
    padding: 20px 15px;
	color:#e6e6e6;
	text-shadow: 1px 1px 1px #000000;
    display: block;
    text-decoration: none;
    float: left;
}

ul.topnav li a:hover{ background: url(../images/menu_selected.png) no-repeat top center transparent;

}
ul.topnav li span {
	margin-top:12px;
	margin-left:-10px;
	width: 17px;
    height: 35px;
    float: left;
    background: url(../images/subnav_btn.gif) no-repeat center top;
}

ul.topnav li span.subhover {
	background-position: center bottom;
	cursor: pointer;
}

ul.topnav li ul.subnav {
	font-size:12px;
   	list-style: none;
   	position: absolute;
   	left: 0px; top: 45px;
   	background: #1f1f1f;
	margin: 0; padding: 0 0;
   	display: none;
  	float: left;
  	width: 180px;
  	border: 1px solid #111;
}

ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
   	clear: both;
  	width: 170px;
}

html ul.topnav li ul.subnav li a {
  	color:#7f7f7f;
	text-shadow: 0px 1px 1px #000000;
	float: left;
  	width: 145px;
   	background: #1f1f1f;
   	padding-left: 15px;
	padding-top:5px;
	padding-bottom:5px;
}

html ul.topnav li ul.subnav li a:hover {
   	background: #1f1f1f;
	color:#cc0506;
	text-shadow: 1px 1px 1px #000000;
}

#content {
	
	filter:alpha(opacity=50);
	padding:10px;
}