<table align='center' class="border" width="90%" cellspacing="1" cellpadding="4" border="0">
<tr>
    <th class="headerline" valign="middle"><span class="whiteTitle">{MESSAGE_TITLE}</span></th>
</tr>
<tr><td>
	<table width="100%" cellspacing="0" cellpadding="1" border="0">
	<tr>
	<td align="center">
		<br />
		<span class="normal">{ERROR_MESSAGE}</span>
		<br />
		<br />
		<span class="normal">Click Di <a href='' onClick="history.back(); return false;">sini</a> Untuk Kembali Ke Halaman Sebelumnya</span>
	</td>
	</tr>
	<tr><td>&nbsp;</td></tr></table>
</td></tr></table>