<table width="95%" class="border" cellspacing="1" cellpadding="4" border="0">
<tr>
 <th align='left'>Welcome {USERNAME},</th>
</tr>
<tr>
 <td align='left' class="indexer">{BCRUMP}</td>
</tr>
<tr>
 <td class="whiter" valign="middle" align="left">
   <h2>Modul yang (mungkin-untuk) di-integrasikan</h2>
   <ul>
     <li>SMS Gateway / Reminder</li>
     <li>Customer Relationship (CRM)</li>
     <li>Inventory</li>
     <li>Etc...</li>
   </ul>
 </td>
</tr>
</table>