<body >

<table width='100%' height='85%'>
	<tr>
		<td align='center' valign='middle'>
			<form name="main" action="{U_LOGIN}" method="POST">
				<table cellspacing=0 cellpadding=0 border=0>
					<tr>
						<td class='frm_login1' colspan='4'>&nbsp;</td>
					</tr>
					<tr>
						<td class='frm_login2'>&nbsp;</td>
						<td class='frm_login3'><img src="{TPL}images/login/{IMAGE_BACKGROUND}" /></td>
						<td class='frm_login4'>&nbsp;</td>
						<td class='frm_login5'>&nbsp;</td>
					</tr>
					<tr>
						<td class='frm_login6'>&nbsp;</td>
						<td class='frm_login7'>&nbsp;</td>
						<td class='frm_login8' align='right'>
							<input type="text" size="30" id="username" name="username" value=""  placeholder='username'/><br><br>
							<input type="password" size="30" id="password" name="password" value="" placeholder='password' /><br><br>
							<input id="submit" name="submit" value ="Log In" type="submit" />
						<td class='frm_login9'>&nbsp;</td>
					</tr>
					<tr>
						<td class='frm_login10' colspan='4'>&nbsp;</td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
</table>
</body >