<script type="text/javascript"> 
  djConfig = { isDebug: false };   // tidak memakai debug 
</script>
<script type="text/javascript" src="{ROOT}/ajax/dojo.js"></script>

<script type="text/javascript">
  // komponen khusus dojo 
  dojo.require("dojo.widget.Dialog");
</script>

<table width="100%" cellspacing="1" cellpadding="4" border="0">
<tr>
 <td class="whiter" valign="middle" align="center">
    <table width='80%' class='border'>
	    <tr><td colspan=4 class="menuutama">&nbsp;Operasional</td></tr>
	    <tr><td colspan=4><br></td></tr>
			<tr height=100 valign='top' align='center'>
				
				<td align='center' width='25%'>
					<a href="{U_PENJADWALAN}"><img src="{TPL}images/icon_penjadwalan.png" /></a>  
					<br />
					<a href="{U_PENJADWALAN}"><span class="genmed">Penjadwalan<br>Kendaraan</span></a>
		    </td>
				
				<td align='center' width='25%'>
					<a href="{U_PENGUMUMAN}"><img src="{TPL}images/icon_pengumuman.png" /></a>
					<br />
					<a href="{U_PENGUMUMAN}"><span class="genmed">Pengumuman</span></a>
		    </td>
				
				<td align='center' width='25%'>
					<a href="{U_MEMO}"><img src="{TPL}images/icon_memo.png" /></a>
					<br />
					<a href="{U_MEMO}"><span class="genmed">Memo</span></a>
		    </td>
				
				<td align='center' width='25%'>
					<a href="{U_UBAHPASS}"><img src="{TPL}images/icon_menu_password.png" /></a>
					<br />
					<a href="{U_UBAHPASS}"><span class="genmed">Ubah Password</span></a>
		    </td>
				
			</tr>
		</table>
		
 </td>
</tr>
</table>