<table class="border" align='center' width="90%" cellspacing="1" cellpadding="4" border="0">
<tr><th class="headerline" valign="middle"><span class="whiteTitle">{MESSAGE_TITLE}</span></th></tr>
<tr>
<td>
	<table width="100%" cellspacing="0" cellpadding="1" border="0">
	<tr>
	<td align="center">
	<span class="normal">{MESSAGE_CONTENT}</span>
	<br />
	{U_BACK1}
	<br />
	{U_BACK2}
	</td></tr></table>
</td></tr></table>