<!-- BEGIN if_login -->
</div>
<!-- END if_login -->
<p class='gensmall' align='center'>
<br />
<table width=500>
	<tr>
		<td valign='middle' align='center'>
			<table>
				<tr><td valign='middle' align='center'><font color='5f5f5f' size=2>
					Sistem oleh: Trans Berjaya Khatulistiwa, PT&nbsp;<img src='{TPL}images/logo_fraktal_mini.png'/><br>
					&copy; 2014
				</font></td></tr>
			</table>
	</tr>
</table>
</p>

<!--</body></html> -->

</body >
</html>
