<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset={S_CONTENT_ENCODING}">
  <meta http-equiv="Content-Style-Type" content="text/css">
	<link rel="icon" type="image/ico" href="favicon.ico">
  {META}
  <title>{SITENAME} :: {PAGE_TITLE}</title>
  <link rel="stylesheet" href="{TPL}trav.css" type="text/css" />
</head>  
<script language="JavaScript" type="text/javascript" src="{ROOT}ajax/lib/prototype.js"></script>
<script type='text/javascript' src='{ROOT}js/prototype.js'></script>
<script type='text/javascript' src='{ROOT}js/scriptaculous.js?load=effects'></script>
<script type='text/javascript' src='{ROOT}js/prototip.js'></script>
<link rel="stylesheet" type="text/css" href="{ROOT}css/prototip.css" />
<body>
<!-- BEGIN if_login -->
<div align='center'>
<table width="100%" cellpadding=0 cellspacing=0>
<tr><td>
<table width='100%' cellpadding=0 cellspacing=0>
<tr>
	<!--<td class="banner" background='./templates/images/bg_tombol_header.png' STYLE='background-repeat: no-repeat;background-position: right bottom;'>-->
	<td>
		<table width='100%' cellpadding=0 cellspacing=0>
			<tr>
				<td height=40 valign='bottom'>
					&nbsp;<img src="{TPL}images/loto_cta_comp_small1.png" />
				</td>
			</tr>
		</table>
	</td>
</tr>
</table>
<!-- END if_login -->