<script type="text/javascript" src="{ROOT}/ajax/dojo.js"></script>

<script language="JavaScript">
	
	function Start(page) {
		OpenWin = this.open(page, "CtrlWindow", "toolbar=no,menubar=yes,location=yes,scrollbars=no,resizable=yes");
	}
	
	function CetakTiketSemua(){
	  //mencetak tiket 
		layout_kursi	= document.getElementById('hide_layout_kursi').value;
		
		i=1;
		loop=true;
		tiket_dipilih="";
		do{
			str_var='chk_tiket_'+i;
			if(chk_tiket=document.getElementById(str_var)){
				if(chk_tiket.checked){
					if(tiket_dipilih==""){
						tiket_dipilih +=chk_tiket.value;
					}
					else{
						tiket_dipilih +=","+chk_tiket.value;
					}
				}
			}
			else{
				loop=false;
			}
			i++;
		}while(loop);
		Start("tiket.php?sid={SID}&tiket_dipilih="+tiket_dipilih+"&mode=cetak_tiket&layout_kursi="+layout_kursi);
	}
	
</script>

<table  width= "700" border="0" cellpadding="0" cellspacing="0">
  <tr>
		<td>
			<h2>Cetak tiket <br>
			Rute:{RUTE}<br>
			Tgl.berangkat:{TGL_BERANGKAT}</h2></td>
	</tr>
	<tr><td>{LIST_TIKET}</td></tr>
	<tr align='right' bgcolor='D0D0D0'><td>untuk mencetak tiket yang dipilih,silahkan klik Cetak Tiket ->><input type='button' id='btn_cetak' value='Cetak Tiket' OnClick="CetakTiketSemua()"></input></td></tr>
</table>
