<form name="main" action="{U_LOGIN}" method="POST">
	<div align='center'>
		<div class='loginHeader'>
			<br><img src="{TPL}images/loto_cta_comp_small.png" /><br>
			Charlie Version Mini Dashboard
		</div>
		<div class='loginBody'>
			<br><font size='5'>Login</font><br><br>
			Username
			<input type="text" size="20" id="username" name="username" value="" /><br><br>
			Password&nbsp;
			<input type="password" size="20" id="password" name="password" value="" /><br><br>
			<div><input id="submit" name="submit" value ="Log In" type="submit" /></div><br><br>
		</div>
	</div>
</form>