<form name="pilih_periode" action="{U_ACTION}" method="post">
<div align='center'>
	{DEBUG}
	<h3>Silahkan masukkan periode yang tanggal</h3><br>
	<select name='tgl_awal'>{OPT_TANGGAL}</select>&nbsp;<select name='bln_awal'>{OPT_BULAN}</select>&nbsp;<select name='thn_awal'>{OPT_TAHUN}</select>
	<h3>s/d</h3>
	<select name='tgl_akhir'>{OPT_TANGGAL}</select>&nbsp;<select name='bln_akhir'>{OPT_BULAN}</select>&nbsp;<select name='thn_akhir'>{OPT_TAHUN}</select>
	<br><br>
	<input type='submit' value=' Lihat Summary ' />
	</div>
</form>