<!-- BEGIN if_login -->
</div>
<!-- END if_login -->

<br />
<div class='footer'>
	Sistem oleh: Trans Berjaya Khatulistiwa, PT&nbsp;<img src='{TPL}images/logo_fraktal_mini.png'/><br>
	&copy; 2010
</div>
</body>
</html>
