<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset={S_CONTENT_ENCODING}">
  <meta http-equiv="Content-Style-Type" content="text/css">
	<link rel="icon" type="image/ico" href="favicon.ico">
  {META}
  <title>{SITENAME} :: {PAGE_TITLE}</title>
  <link rel="stylesheet" href="{TPL}trav.css" type="text/css" />
</head>  
<body>
<!-- BEGIN if_login -->
	<div align='center'>
		<div class='loginHeader'>
			<br><img src="{TPL}images/loto_cta_comp_small.png" /><br>
			Charlie Version Mini Dashboard
		</div>
	</div>
	<div align='right' class='loginBody'><a href="{U_UBAH_PASSWORD}">Ubah Password </a> |   <a href="{U_LOGOUT}">Logout</a></div>

	
<!-- END if_login -->