<div align='center'>
	<h2>&nbsp;Pembatalan Tiket</h2>
	<br>
	<br>
	<br>
	Silahkan masukkan nomor tiket yang dibatalkan:&nbsp;<br>
	<form action='{U_ACTION}' method='post'>
		<input type="text" id="no_tiket" name="no_tiket" />&nbsp;<br>
		<input type="hidden" name="mode" value='konfirmasi' />&nbsp;<br>
		<input type="submit" value="Batalkan" />
	</form>
	<br>
	<br>
</div>
				