<div align='center'>
	<h2>&nbsp;Pembatalan Tiket</h2>
	<br>
	{DATA_TIKET}<br>
	<form action='{U_ACTION}' method='post'>
		<input type="hidden" id="no_tiket" name="no_tiket"  value='{NO_TIKET}'/ />&nbsp;<br>
		<input type="hidden" name="mode" value='pembatalan' />&nbsp;<br>
		<font size='2'><a href='{U_BACK}'>Kembali</a>&nbsp;|&nbsp;</font>{TOMBOL_BATAL}
	</form>
	<br>
	<br>
</div>
				